<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Mongoose "Flights" Search</h1>
    <nav>
      <ul class="navbar">
          <a href="/flights">ALL FLIGHTS</a>  
          <a href="/flights/new">NEW FLIGHT</a>
    </ul>
  </nav>
  </body>
</html>
