* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100vh;
}

a {
  color: #00B7FF;
}
.title{
  padding: 1rem;
}
.navbar {
  background-color: rgb(216, 213, 213);
  height: 2rem;
  padding: .75rem;
  font-size: large;
}
    .past-departure {
        color: red;
    }

    tbody{
      text-align: center;
  
    }

    .flightListTitle {
      background-color: rgb(216, 213, 213);
    }
  
    .newflight {
      background-color: rgb(216, 213, 213);
      height: 2rem;
      padding: .75rem;
      font-size: large;
    }
